@model SportCommunityRM.WebSite.ViewModels.Account.LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="RememberMe" type="hidden" />
                    <div class="form-group">
                        <label asp-for="TwoFactorCode"></label>
                        <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMachine">
                                <input asp-for="RememberMachine" />
                                @Html.DisplayNameFor(m => m.RememberMachine)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inline-children">
                        <button type="submit" class="btn btn-block-fluid btn-accent pull-right">Log in</button>
                        <button type="button" class="btn btn-block-fluid btn-danger pull-left" onclick="history.back()">Back</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<p>
    Don't have access to your authenticator device? You can 
    <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
</p>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}