@model PagingList<SportCommunityRM.WebSite.ViewModels.Shared.NewsFeedViewModel.Content>

<ul class="list-unstyled content-list">
    @if (!Model.IsNullOrEmpty())
    {
        foreach (var content in Model)
        {
            <li style="background-image: url('@content.Thumbnail');">
                <div class="content-item row no-margin">
                    <div class="content-option col-sm-6 col-sm-offset-6" role="option">
                        <a asp-action="Detail" asp-controller="Content" asp-route-id="@content.Id">
                            <p>
                                <h4 class="bold">@content.Title</h4>
                                @if (!string.IsNullOrWhiteSpace(content.Caption))
                                {
                                    <span>@content.Caption</span>
                                }
                            </p>
                        </a>
                    </div>
                </div>
            </li>
        }
    }
</ul>
<nav>
    @await Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>