@model SportCommunityRM.WebSite.ViewModels.Shared.ActivitiesViewModel

<div id="activities-container">
    @Html.DisplayFor(model => model.Activities)
</div>

<script type="text/javascript">
    $(function () {
        var pagingListAnchorHandler = function (event) {
            event.preventDefault();
            var hrefValue = $(this).attr('href').substring(1);
            var url = '@Url.Action(nameof(IActivityController.GetActivitiesAsync))' + hrefValue;
            var successCallback = function (response) {
                $('#activities-container').html(response);
            };
            var errorCallback = function (response) {
                bootbox.alert('Error!');
            };
            executeHttpGetRequest(url, null, successCallback, errorCallback);
        };

        $(document).on('click', '#activities-container table thead th a', pagingListAnchorHandler);
        $(document).on('click', '#activities-container nav .pagination li a', pagingListAnchorHandler);
    });
</script>