@model SportCommunityRM.WebSite.Components.LoginViewComponent.Model
@if (Model.IsLogged)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @Model.Username <i class="fa fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="user-menu">
                    <li>
                        <a asp-action="Detail" asp-controller="User" asp-route-id="@Model.RegisteredUserId">
                            My profile <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Manage">
                            Manage <i class="fa fa-gear"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">
                    Log out <i class="fa fa-sign-out"></i>
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
