a,
.text-accent {
    color: #006eb2;
}

    a:hover,
    a:focus {
        color: #0081cc;
        text-decoration: none;
    }

body,
.fc-today,
.login-html,
.login-html > body {
    background-color: #0081cc;
}

.carousel-indicators li {
    background-color: #005a8e;
}

    .carousel-indicators li.active {
        background-color: #0081cc;
    }

.container > h1,
.container > h2,
.container > h3,
.container > h4,
.container > h5,
.container > h6 {
    color: #fff;
}

.container > div > h1,
.container > div > h2,
.container > div > h3,
.container > div > h4,
.container > div > h5,
.container > div > h6 {
    color: #d0d0d0;
}

.content-list li {
    background-color: #006eb2;
    color: #fff;
}

    .content-list li a,
    .scorers-list li a {
        color: #d3d3d3;
    }

        .content-list li a:hover,
        .scorers-list li a:hover,
        .scorers-list li h1 {
            color: #fff;
        }

.content-list .content-item {
    background-image: linear-gradient(to right, transparent, #006eb2 50%);
}

.fc-today.fc-other-month {
    opacity: 0.8;
}

.navbar-inverse,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background-color: #006eb2;
}

    .navbar-header .navbar-brand,
    .navbar-inverse .navbar-nav li a,
    .navbar-inverse .navbar-nav li button {
        color: #d3d3d3;
    }

    .navbar-inverse .navbar-nav .dropdown-menu a {
        color: #0075ba;
    }

        .navbar-inverse .navbar-nav .dropdown-menu a:hover {
            color: #006eb2;
        }

    .btn-accent,
    .navbar-inverse .navbar-nav li:hover,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .open > a:focus,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .open > a:visited,
    .navbar-inverse .navbar-nav > .active > a:visited,
    .navbar-inverse .navbar-nav > .open > button:hover {
        background-color: #0075ba;
        color: #fff;
        text-decoration: none;
    }

        .btn-accent:hover {
            background-color: #006eb2;
            border-color: #005a8e;
            color: #fff;
        }


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
    color: #006eb2;
}

.nav-pills > li.active > a {
    background-color: #d3d3d3;
}

    .nav-pills > li.active > a:hover {
        background-color: #fff;
    }

.nav-pills > li:not(.active) > a {
    background-color: #0075ba;
    color: #d3d3d3;
}

    .nav-pills > li:not(.active) > a:hover {
        background-color: #006eb2;
        color: #fff;
    }

.news-container .list-group-item {
    border: 4px solid #006eb2;
}

    .news-container .list-group-item:first-of-type {
        border-top: 0;
    }

    .news-container .list-group-item:last-of-type {
        border-bottom: 0;
    }

footer,
.form-group span:not(.text-danger),
.fc-today,
.login-html .container,
.login-html .container a:not(.btn):hover,
.login-html .container a:not(.btn):focus {
    color: #fff;
}

    html:not(.login-html) .form-group > label,
    .login-html .container a:not(.btn) {
        color: #d0d0d0;
    }

.panel.panel-accent {
    border-color: #005a8e;
}

    .panel.panel-accent .panel-heading {
        background-color: #006eb2;
    }

        .panel.panel-accent .panel-heading a {
            color: #d3d3d3;
        }

            .panel.panel-accent .panel-heading a:hover {
                color: #fff;
            }

    .panel.panel-accent .panel-collapse .panel-body,
    .panel.panel-accent .panel-collapse .panel-footer {
        background-color: #0081cc;
    }

        .panel.panel-accent .panel-collapse .panel-body .table,
        .panel.panel-accent .panel-collapse .panel-body [id^=fullcalendar] .fc-view-container {
            background-color: #fff;
        }

        .panel.panel-accent .panel-collapse .panel-body [id^=fullcalendar] .fc-left {
            color: #fff;
        }

    .panel.panel-accent .panel-collapse .panel-footer {
        border-top-color: #006eb2;
    }

.parallax-html .parallax-header .parallax-container {
    background-color: #006eb2;
}

.login-html .btn.btn-accent,
.parallax-html main .btn.btn-accent {
    box-shadow: 0 2px 2px #0075ba;
}

.scorers-list li .badge {
    opacity: 0.7;
}

    .scorers-list li .badge.rank1 {
        background-color: #ffd700;
        opacity: 1.0;
    }

    .scorers-list li .badge.rank2 {
        background-color: #c0c0c0;
        ;
        opacity: 1.0;
    }

    .scorers-list li .badge.rank3 {
        background-color: #cd7f32;
        opacity: 1.0;
    }

@media screen and (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #d0d0d0;
    }

    .news-container .list-group-item {
        border-width: 0 0 10px 0;
        border-color: #006eb2;
        border-style: solid;
    }
}
