a.text-default,
a.text-primary,
a.text-success,
a.text-info,
a.text-warning,
a.text-danger {
    font-size: 18px;
}

.collapse-btn.collapsed {
    transform: rotate(180deg);
}

.bold {
    font-weight: bold;
}

.btn,
.dropdown-menu,
.form-control,
.input-group-addon,
.modal-content,
.navbar-toggle,
.panel {
    border-radius: 0;
}

    .btn + .btn:not(.pull-left) {
        margin-left: 15px;
    }

    .btn.btn-block-fluid {
        display: inline-block;
        white-space: nowrap;
        width: auto;
        margin-top: 0;
    }

.container {
    padding: 0;
}

.dropdown-menu {
    padding: 0;
    text-align: right;
}

.form-control,
.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
}

.form-control-auto {
    width: auto;
}

.inline-children > * {
    display: inline-block;
}

.input-group-addon.primary {
    color: #fff;
    background-color: #286090;
    /*border-color: #122b40;*/
}

.input-group-addon.success {
    color: #fff;
    background-color: #5cb85c;
    /*border-color: #4cae4c;*/
}

.input-group-addon.info {
    color: #fff;
    background-color: #5bc0de;
    /*border-color: #46b8da;*/
}

.input-group-addon.warning {
    color: #fff;
    background-color: #f0ad4e;
    /*border-color: #eea236;*/
}

.input-group-addon.danger {
    color: #fff;
    background-color: #d9534f;
    /*border-color: #d43f3a;*/
}

.login-html,
.login-html > body {
    height: 100%;
}

    .login-html .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .login-html .container a:not(.btn):hover,
        .login-html .container a:not(.btn):focus {
            text-decoration: underline;
        }

.navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-toggle {
    border: none;
    margin: 0;
    padding: 18px 16px;
}

.no-padding {
    padding: 0;
}

.panel > .panel-body {
    padding: 12px;
}

.panel .panel-body .table {
    margin-bottom: 0;
}

.panel-heading, .panel-heading .panel-title {
    font-weight: bold;
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1560px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1380px;
    }
}

@media screen and (max-width: 767px) {
    .btn + .btn:not(.pull-left) {
        margin-left: 0;
    }

    .btn.btn-block-fluid {
        display: block;
        white-space: normal;
        width: 100%;
        margin-bottom: 15px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .fa,
    .glyphicon {
        display: none;
    }

    .login-html .container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .navbar-nav {
        margin: 0 -15px;
    }
}
